/.github/   @fundthmcalculus @tmarkovski
/dotnet/    @tmarkovski
/go/        @fundthmcalculus
/java/      @fundthmcalculus
/native/    @tmarkovski
/proto/     @fundthmcalculus @tmarkovski
/python/    @fundthmcalculus
/ruby/      @fundthmcalculus
/wasm/      @tmarkovski
